{% extends "layout.html" %}
{% block content %}
    <div class="container" style="margin-top:100px"> 
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <div class="container">
                    <form name='workout_details' method='POST' action="{{ url_for('get_workout') }}">
                        <div class="form-group">
                            <label for="num_moves_select">Number of moves:</label>
                            <select class="form-control" id="num_moves" name="num_moves" method="GET" action="/">
                            {% for n in range(1, num_moves + 1) %}
                                <option value="{{ n }}">{{ n }}</option> 
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="body_area_select">Select body area:</label>
                            <select class="form-control" id="body_area" name="body_area" method="GET" action="/">
                            {% for body_area in body_areas[0:] %}
                                <option value="{{ body_area }}">{{ body_area }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Bring the Pain!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="content">
                    {% block results_content %}{% endblock %}
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-12"> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"> 
            </div>
            <div class="col-sm-6">
                <h6><a href="https://www.goruck.com/ruck-pt-foundational-movements" target="new">Ruck Foundational Movements Guide</a><br />
                <a href="https://www.goruck.com/event-training-plans" target="new">Event Training Plans</a></h6>
            </div>
        </div>
    </div>
{% endblock %}
